// Newsletter Flag
#promo-flag{
  @include u-position('sticky');
  @include u-bottom(0);
  clear: both;
  @include at-media('tablet-lg') {
    @include u-bottom(1);
  }
  .flag{
    @include u-margin-x(0);
    @include u-padding-y('105');
    @include u-padding-x('105');
    @include at-media('tablet-lg') {
      @include u-margin-x('05');
      @include u-margin-right('105');
      @include u-padding-y(1);
      @include u-padding-x(2);
    }
    @include at-media('desktop') {
      @include u-margin-x('105');
      @include u-margin-right('205');
    }
    @include at-media('desktop-lg') {
      @include u-margin-x(2);
      @include u-margin-right(3);
    }
    @include at-media('widescreen') {
      @include u-margin-x(2);
      @include u-margin-right(2);
    }
    @include u-bg('gray-cool-1');
    @include u-border('gray-cool-20', '2px', 'dotted');
    @include u-font('sans', 'sm');
    @include u-radius('sm');
    @include u-line-height('sans', 3);
    @include u-text('medium');
    @include u-shadow(5);
    @include u-display('flex');
    @include u-flex('justify');
    @include u-flex('align-center');
    p{
      @include u-margin(0);
      @include u-text('normal');
      a{
        @include u-text('no-underline');
        @include u-text('bold');
        @include u-text('red-50v');
        &:hover{
          @include u-text('red-70v');
          span{
            @include u-border-bottom('1px', 'red-70v', 'solid');
          }
        }
      }
    }
    a.overlay{
      span{
        @include u-margin(0);
        @include u-position('absolute');
        @include u-width('full');
        @include u-height('full');
        top:0;
        left: 0;
        z-index: 1;
      }
    }
    .close{
      @include u-margin-left('105');
      @include u-text('light');
      @include u-text('no-underline');
      @include u-font('sans', 'lg');
      @include u-text('gray-cool-50');
      z-index: 5;
      &:hover{
        @include u-text('gray-cool-60');
      }
    }
    &:hover{
      cursor: pointer;
      p a {
        span{
          @include u-border-bottom('1px', 'red-70v', 'solid');
        }
      }
    }
  }
}
