// Ads

.ad {
  @include u-bg("white");
  text-align: center;
  @include u-color("white");
  // display: table;
  // bottom: 20px;
  z-index: 4;
}

.ad_970 {
  @include u-padding-top("05");
  @include u-display("none");
  @include u-margin-y(2);
  @include u-margin-x(1);
  // @include u-margin-right(2);
  // @include u-margin-left(0);
  @include at-media("tablet-lg") {
    // @include u-margin-left(2);
    // @include u-margin-right("205");
  }
  @include at-media("desktop-lg") {
    // @include u-margin-left("205");
  }
  // @include u-border('1px', 'solid', 'gray-cool-10');
  @include u-bg("gray-cool-3");
  p {
    @include u-margin(0);
    @include u-padding-bottom("05");
    @include u-text("black");
    @include u-text("light");
    @include u-text("gray-cool-50");
    @include u-font("sans", "3xs");
  }
  a {
    @include u-display("flex");
    @include u-flex("align-center");

    .image_desktop {
      @include u-margin(0);
      @include u-margin-x("auto");
      @include u-width("full");
      height: auto;
      @include u-display("none");

      @include at-media("tablet-lg") {
        @include u-display("block");
      }
    }

    .image_mobile {
      @include u-margin(0);
      @include u-margin-x("auto");
      @include u-width("full");
      height: auto;

      @include u-display("block");

      @include at-media("tablet-lg") {
        @include u-display("none");
      }
    }
  }
}

.home .ad_970 {
  @include u-margin-x(0);
}

.ad_970.visible {
  @include u-display("block");
}
