article.article {
  @include u-margin-x(0);
  @include at-media("tablet-lg") {
    @include u-margin-x(1);
    @include u-margin-right("105");
  }
  @include at-media("desktop") {
    @include u-margin-x(2);
    @include u-margin-right("205");
  }
  @include at-media("desktop-lg") {
    @include u-margin-x("205");
    @include u-margin-right(3);
  }
  @include at-media("widescreen") {
    @include u-margin-right(2);
  }
  @include u-padding-top("205");

  // see article-header.scss for header styles

  // see content.scss for content styles

  footer {
    .contributors {
      @include u-margin-bottom(9);
      @include u-border-top("black", "2px", "dotted");
      @include u-font("sans", "sm");
      h3 {
        @include u-margin-y(2);
        @include u-font("sans", "md");
        @include u-text("bold");
      }
      h4 {
        @include u-margin(0);
        @include u-margin-bottom(1);
        @include u-font("sans", "sm");
      }
      .bio {
        @include u-margin-top(0);
        @include u-measure(5);
        @include u-line-height("sans", 5);
        @include u-font("sans", "xs");
      }
      a {
        @include u-color("red-50v");
        @include u-text("no-underline");
        &:hover {
          @include u-text("underline");
        }
      }
    }
  }
}
article.article-diff {
  overflow-x: scroll;
  @include u-bg("white");
}

.body-type-label {
  @include u-display("inline-block");
  @include u-bg("gray-cool-80");
  @include u-color("white");
  @include u-padding(1);
  @include u-font("sans", "2xs");
  @include u-text("uppercase");
  @include u-text("bold");
  @include u-text("center");
  @include u-margin-bottom(1);
}

.next-prev {
  @include u-display("flex");
  @include u-flex("justify");
  @include u-border-bottom("black", "2px", "dotted");
  @include u-margin-bottom(4);
  a {
    @include u-padding-bottom("205");
    @include u-display("block");
    @include u-text("no-underline");
    @include u-text("black");
    &:hover {
      h3 {
        @include u-text("underline");
      }
    }
    span {
      @include u-display("block");
      @include u-text("uppercase");
      @include u-font("sans", "3xs");
      @include u-text("light");
      @include u-margin-bottom(1);
    }
    h4 {
      @include u-font("sans", "3xs");
      @include u-text("uppercase");
      @include u-margin-bottom("05");
    }
    h3 {
      @include u-margin(0);
      @include u-font("sans", "sm");
      @include u-text("normal");
      // @include u-text("light");
    }
  }
  .next {
    @include u-text("right");
  }
}
.next-prev.loading {
  div {
    width: 48%;
    div {
      width: 100%;
      @include u-display("flex");
      @include u-flex("column");
      @include u-flex("align-start");
      @include u-padding-bottom(3);
      span {
        @include u-margin-y("2px");
        @include u-bg("gray-10");
        @include u-height(2);
        @include u-width(9);
        @include u-display("block");
      }
      span.nav {
        @include u-margin-bottom(1);
        @include u-height("105");
      }
      h3 {
        @include u-display("flex");
        @include u-flex("column");
        @include u-flex("align-start");
        @include u-width("full");
        span {
          @include u-bg("gray-10");
          @include u-height(2);
          @include u-width("full");
          @include u-display("block");
        }
      }
    }
  }
  .next div {
    @include u-flex("align-end");
    h3 {
      @include u-flex("align-end");
    }
  }
}

.body-label {
  @include u-display("inline-block");
  @include u-bg("gray-cool-80");
  @include u-color("white");
  @include u-padding(1);
  @include u-font("sans", "xs");
  @include u-text("uppercase");
  @include u-text("bold");
  @include u-text("center");
  @include u-margin-bottom(1);
}

.diff {
  @include u-position("relative");
}
.guide {
  @include u-position("fixed");
  top: 50vh;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  @include u-border-top("red-50v", "1px", "solid");
  //top
}
