.preview-info {
  @include u-margin-top(4);
  @include u-margin-right(2);
  @include u-bg("blue-warm-5");
  @include u-font("sans", "2xs");
  .block {
    @include u-padding-y(2);
    @include u-padding-x(2);
    h4 {
      @include u-padding-bottom("05");
      @include u-text("light");
      @include u-text("uppercase");
      @include u-text("gray-cool-60");
      // @include u-font("sans", "3xs");
      font-size: 12px;
    }
  }
  .updated {
    @include u-bg("blue-warm-10");
    @include u-margin-bottom(2);
  }
  .title {
    @include u-font("sans", "md");
    @include u-text("light");
  }
  .preview-image {
    @include u-position("relative");
    @include u-display("flex");
    @include u-flex("align-start");
    @include u-flex("column");
    // width: 100%;
    // overflow: hidden;
    .imgbox {
      @include u-margin-top("2px");
      @include u-margin-right("105");
      @include u-display("flex");
      @include u-flex("column");
      @include u-flex("align-start");
    }
    img {
      @include u-width(10);
      @include u-maxw("none");
      height: auto;
      object-fit: contain;
    }
    figcaption {
      @include u-font("sans", "3xs");
    }
    .dimensions {
      @include u-margin-top("2px");
      @include u-margin-left("2px");
      @include u-font("sans", "micro");
      @include u-text("gray-cool-40");
    }

    .shortcode {
      @include u-position("relative");
      @include u-margin-top(1);
      user-select: all;
      width: 100%;
      @include u-overflow("hidden");
      span {
        @include u-display("none");
        @include u-padding-y("05");
        @include u-position("absolute");
        @include u-top(0);
        @include u-bottom(0);
        @include u-right(0);
        @include u-left(0);
        @include u-z(100);
        @include u-radius("sm");
        @include u-bg("gray-cool-60");
        @include u-text("white");
        @include u-text("center");
        @include u-font("sans", "3xs");
        opacity: 0.9;
        background-blend-mode: multiply;
        &:hover {
          @include u-bg("gray-cool-70");
        }
      }
      &:hover span {
        @include u-display("block");
      }
      code {
        @include u-position("relative");
        @include u-display("block");
        @include u-bg("white");
        @include u-text("red-60v");
        @include u-radius("sm");
        @include u-padding-y("2px");
        @include u-padding-x("05");
        @include u-padding-bottom("05");
        @include u-font("sans", "3xs");
        @include u-overflow("hidden");
        // @include u-width(full);
        text-wrap: nowrap;
      }
    }
  }
  .all-images {
    .preview-image {
      @include u-margin-bottom(2);
    }
  }
  .slideshow-image {
    .preview-image {
      @include u-flex("column");
      .imgbox {
        @include u-margin-right(0);
      }
      img {
        @include u-width("full");
      }
      .dimensions {
        @include u-text("right");
      }
      .tools button {
        @include u-margin-right(0);
      }
    }
  }
  .editor {
    @include u-font("sans", "3xs");
    @include u-display("flex");
    @include u-flex("align-center");
    @include u-text("medium");
    strong {
      @include u-display("block");
      @include u-text("uppercase");
      @include u-text("red-50v");
      @include u-text("medium");
    }
    em {
      @include u-text("normal");
      @include u-display("block");
    }
    .avatar {
      @include u-margin-right(1);
      @include u-radius("pill");
    }
  }
  hr {
    @include u-margin-y("105");
    @include u-margin-x(2);
    @include u-border-color("base-lightest");
    @include u-border-bottom(0);
  }
}
.preview-info {
  .promo-builder {
    .field {
      @include u-display("flex");
      @include u-flex("column");
      label {
        @include u-font("sans", "3xs");
        @include u-text("gray-cool-60");
        @include u-margin-right(1);
      }
      select {
        @include u-border("base-light", "1px", "solid");
      }
      input {
        @include u-margin(0);
        // @include u-padding(3);
        @include u-padding("05");
        @include u-radius("sm");
        @include u-border("base-light", "1px", "solid");
        @include u-font("sans", "2xs");
        @include u-text("light");
        @include u-color("black");
        @include u-bg("white");
        @include u-width("full");

        &:focus {
          // @include u-border("all", "sm", "primary");
          @include u-bg("white");
          outline: 0;
        }
      }
    }
    pre {
      @include u-bg("white");
      @include u-padding("105");
      @include u-margin-top(2);
      @include u-margin-bottom(2);
      @include u-font("sans", "3xs");
      @include u-text("red-60v");
      @include u-radius("md");
      code {
        // wrap the text
        white-space: pre-wrap;
        // make sure the text is not broken
        word-break: break-word;
      }
    }
  }
}

.preview-pass {
  @include u-bg("white");
  @include u-height("viewport");

  form {
    @include u-display("flex");
    @include u-flex("justify-center");

    .passWrap {
      @include u-display("flex");
      @include u-flex("column");
      @include u-flex("justify-center");
      @include u-width("mobile-lg");
      @include u-height("viewport");
      p {
        @include u-font("sans", "xs");
        @include u-padding-y(1);
        @include u-text("red-60v");
      }
    }

    .field {
      @include u-display("flex");
      @include u-flex("justify-center");
      @include u-flex("align-center");
      input {
        @include u-margin(0);
        @include u-padding(3);
        @include u-padding-x("105");
        @include u-radius("md");
        @include u-border("base-light", "1px", "solid");
        @include u-font("sans", "xl");
        @include u-text("light");
        @include u-color("black");
        @include u-bg("white");
        @include u-width("full");

        text-security: disc;
        -webkit-text-security: disc;
        -mox-text-security: disc;
        // @include u-transition("all", "sm");
        &:focus {
          // @include u-border("all", "sm", "primary");
          @include u-bg("white");
          outline: 0;
        }
      }
      button {
        @include u-margin-left(1);
        @include u-border(0);
        @include u-font("sans", "md");
        @include u-padding-y("105");
        @include u-padding-x(2);
        @include u-radius("md");
        @include u-text("white");
        @include u-bg("blue-warm-40v");
        &:hover {
          @include u-bg("blue-warm-50v");
          @include u-cursor("pointer");
        }
      }
    }
  }
}
