/*
//  layout.css
//
//  Structural styles for Brookyln Rail Site
//
//  Created by Chris Johanesen on 2005-12-27.
//  Copyright 2005 Chris Johanesen. All rights reserved.
*/
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 }
:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
a img,:link img,:visited img { border:none; }
:focus { outline: 0; }

body {
	background: #000;
}

#pagewrap {
	width: 980px; /*740*/
	margin: 0 auto;
	background: #fff;
}


#main {
	float:left;
	width: 740px;
}

/*  

      HEADER                                          


*/
#header {
  float: left;
  width: 970px;
  height: 80px;
  border-bottom: 1px dotted #aaa;
  margin: 0px 0px 6px 10px;
  _margin-left: 5px;
}

/* flag */
#header #flag {
	float: left;
	margin: 13px 0 8px 0px;
}
#header #flag span {
	display:none;
}
#header #flag a:hover {
	background: none;
}

/* nav */
#header #nav {
  float: right;
}
#header #nav ul {
  width: 610px;
}
#header #nav ul li {
	float: right; /* pushed nav buttons to right side */
}
#header #nav ul li a {
  display:block;
  width:auto;
}

#header #nav ul li{
	cursor:pointer;
	margin: 0 8px;
}

#header #nav ul li#nav-current a { 
	width:80px;
}
#header #nav ul li#nav-archives a { 
	width:83px;
}
#header #nav ul li#nav-store a { 
	width:59px;
}
#header #nav ul li#nav-brevents a { 
	width:67px; 
}
#header #nav ul li#nav-intranslation a { 
    width:134px; 
}

.searchbox {
	width:139px;
}


/* ISSUE COLUMN                                     */
#main #issuecolumn {
    border:0;
	width: 180px;
	float:left;
	border-right: 1px dotted #aaa;
	margin-right: -1px;
}


/* section list */
#main #issuecolumn ul.section-list { height:1%; }
#main #issuecolumn ul.section-list:after {	content: ''; display: block; height: 0;	clear: both; visibility: hidden; } /* EASY CLEAR */
#main #issuecolumn ul.section-list  li {
	float: left;
}
#main #issuecolumn ul.section-list li a {
	display:block;
	margin: 0;
}

/* leftnav-list */
#main #issuecolumn ul.leftnav-list { height:1%; width:100%; }
#main #issuecolumn ul.leftnav-list:after {	content: ''; display: block; height: 0;	clear: both; visibility: hidden; } /* EASY CLEAR */
#main #issuecolumn ul.leftnav-list  li {
	float: left;
	width: 100%;
}
#main #issuecolumn ul.leftnav-list li a {
	display:block;
	margin: 0;
}

/* nav2 list */
#main #issuecolumn ul.nav2 { height:1%; }
#main #issuecolumn ul.nav2:after {	content: ''; display: block; height: 0;	clear: both; visibility: hidden; } /* EASY CLEAR */
#main #issuecolumn ul.nav2  li {
	float: left;
}
#main #issuecolumn ul.nav2 li a {
	display:block;
	margin: 0;
}

/* CONTENT COLUMN                                 */
#main #contentcolumn {
    border:0;
	width: 560px;
	float:left;
}
#main .featured-articles {
  float:left;
}
#main #contentcolumn .sub {	float: left; }
.w60 { width: 300px; border-right:1px dotted #aaa; margin-top: 10px; }
.w40 { 
	height:100%;
	width: 258px; 
    margin-top: 10px;
	border-right: 1px dotted #aaa;
}

/*
    =EXTRA

*/
#extra {
	top:80px;
	width: 240px;
	float:right;
	margin-top: 111px; /* added to move extra column down */
	margin-left: -1px;
}
#filler {
	border-left: 1px solid #ccc;
	margin-left: -1px;
	background: #f2f2f2;  
	width: 220px;
	float:right;
    height: 92px;
}

#extra img {
}

/*
    =FOOTER

*/
#footer {
	clear: both;
}

