/*
//  formats.css
//
//	Visual styles for Brooklyn Rail site.
//
//  Created by Chris Johanesen on 2005-12-27.
//  Copyright 2005 Chris Johanesen. All rights reserved.
*/

body {
  font-family: arial, helvetica, san-serif;
  color: #333;
  font-size: 11px;
}

iframe {
  margin: 0;
  border: 0;
  overflow: none;
}

a {
  color: #333;
}

a:hover {
  color: #c00;
  text-decoration: underline;
}

/* Get rid of blue telephone links */
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
/* Fix super/subcscript problems */

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

/*     ISSUE COLUMN
******************************************************/

.da {
  margin: 2px 0;
}
.drop a:link,
.drop a:active,
.drop a:visited,
.drop a:hover {
  color: #f00;
  text-decoration: none;
}

/*     BIG COVER
******************************************************/
#bigcover {
  background: #e4e4e4;
  padding: 10px;
}

/*     ISSUE COLUMN
******************************************************/

#main #issuecolumn {
  width: 162px;
}
#main #issuecolumn .youarehereissue {
  margin-top: 2px;
  text-align: center;
  margin-left: 2px;
}
#main #issuecolumn .youarehereissue img.crop {
  border: none;
}

/* section list */
#main #issuecolumn div.section-list {
  margin: 1px;
}

#main #issuecolumn div.section-list li {
  margin: 1px;
}

#main #issuecolumn div.section-list li a {
  width: 68px;
  padding: 3px 5px;
  height: 11px;
  font-family: "trebuchet ms", trebuchet, arial, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0px;
  color: #f00;
  background: #e9e9e9;
}

#main #issuecolumn div.section-list li.full-contents a {
  width: 148px;
  height: auto;
  text-align: center;
}

#main #issuecolumn div.section-list li a:hover {
  color: white;
  background: #c00;
  text-decoration: none;
}

#main #issuecolumn div.section-list li a.current {
  color: white;
  background: #000;
}

#main #issuecolumn div.section-list li a.contents {
  font-weight: bold;
}

/* CONTENT COLUMN
******************************************************/

#main #contentcolumn .sectionhead_featured {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: "trebuchet ms", trebuchet, arial, sans-serif;
  width: 595px;
  height: 33px;
  margin-top: 6px;
  margin-bottom: 1px;
  margin-left: 30px;
}

#main #contentcolumn .sectionhead {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  border-bottom: 1px dotted #aaa;
}

#main #page-nav {
  height: 39px;
  width: 556px;
  margin-left: 32px;
  border-bottom: 1px dotted #aaa;
}

#main #page-nav {
  height: 39px;
  width: 556px;
  margin-left: 32px;
  border-bottom: 1px dotted #aaa;
}

#main #page-nav.no-ads {
  width: 805px;
}

#main #page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main #page-nav ul li {
  margin-top: 8px;
  display: inline-block;
  padding-right: 20px;
}

#main #page-nav ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: "trebuchet ms", trebuchet, arial, sans-serif;
}

/* BANNER
 ************************************************/

#bannercontainer {
  border-bottom: 1px dotted #aaa;
  width: 595px;
  margin: 0 0 7px 30px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#banner {
  position: relative;
  width: 595px;
  height: 254px;
}

#bannerimg-container {
  position: absolute;
  width: 595px;
  height: 254px;
}

.bannerimg {
  position: absolute;
  top: 0;
  left: 0;
}

.bannercontrols {
  position: absolute;
  z-index: 999;
  top: 100px;
  cursor: pointer;
}

#banner-prev {
  left: 5px;
}

#banner-next {
  right: 5px;
}

#banner-textblock {
  position: relative;
  padding: 5px 10px 12px 5px;
  color: #000;
  width: 580px;
  height: 40px;
  left: 0;
  bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bannertitle {
  margin-bottom: 8px;
  font-size: 22px;
  color: #000;
}

.bannertitle .extrainfo {
  font-size: 14px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bannerblurb {
  font-size: 12px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bannerblock {
  background-color: #000;
  opacity: 0.55;
}

.bannerblock.show {
  background-color: red;
  opacity: 1;
}

/* FEATURED ARTICLE on the Homepage and Sections
***************************************************/

#main .featured-article,
#main .artseen {
  border-bottom: 1px dotted #aaa;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#main .featured-article img.large {
  width: 280px;
  height: 85px;
  margin-bottom: 5px;
}

#main .featured-article img.small {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

#main .featured-article h1 {
  font-family: "trebuchet ms";
  font-weight: normal;
  line-height: 1.1em;
  font-size: 18px;
}

#main .featured-article h1 a {
  color: #333;
}

#main .featured-article h1 a:hover {
  color: #c00;
}

#main .featured-article h2 {
  float: left;
  margin: 2px 6px 0 0;
  font-face: "trebuchet ms", trebuchet, arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-indent: 0;
}

#main .featured-article cite.byline {
  display: block;
  font-family: georgia, serif;
  font-size: 13px;
  text-align: left;
  margin: 2px 0 7px 0;
}

#main .featured-article p {
  margin: 0px 0 5px 0;
  font-family: georgia;
  font-size: 12px;
  line-height: 1.3em;
}

/*    CONTENTS-ARTSEEN
***************************************************/

ul.contents-artseen {
  margin: 0;
  font-family: "trebuchet ms", trebuchet, arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #000;
}

ul.contents-artseen li {
  padding: 4px 5px;
}

ul.contents-artseen li.alt1 {
  background: #e4e4e4;
}

ul.contents-artseen li cite.byline {
  font-size: 10px;
  font-style: italic;
  text-align: left;
  color: #888;
}

/*    AD BAR
***************************************************/

.ad-bar {
  margin-left: 10px;
}
.ad-bar img {
  margin-right: 10px;
}

/* FULL CONTENTS
***************************************************/

#main #contentcolumn #full-contents {
  float: left;
  margin: 0px 0 0 30px;
  padding: 0;
}

#main #contentcolumn #full-contents h1.sectionhead {
  background: #b00;
  color: #fff;
  padding: 4px 10px;
  margin-bottom: 0;
  border-bottom: none;
  width: 550px;
}

#main #contentcolumn #full-contents .section {
  margin: 5px 10px 0px 0px;
  width: 570px;
  float: left;
}

#main #contentcolumn #full-contents .section h2,
#main #contentcolumn #related-articles .section h2 {
  margin: 5px 0 10px 0;
  text-transform: uppercase;
  color: #b00;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px dotted #b99;
}

#main #contentcolumn #full-contents .section ul,
#main #contentcolumn #related-articles .section ul {
  margin-top: 5px;
}

#main #contentcolumn #full-contents .section ul li,
#main #contentcolumn #related-articles .section ul li {
  margin: 0 0 8px 0;
  font-size: 11px;
  line-height: 1.2em;
  font-weight: bold;
}

#main #contentcolumn #full-contents .section ul li cite.byline,
#main #contentcolumn #related-articles .section ul li cite.byline {
  color: #888;
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

.group {
  width: 100%;
  float: left;
}

/* PAGE
***************************************************/

#page {
  margin: 15px 10px 15px 30px;
  width: 560px;
}

#page a {
  color: #333;
  text-decoration: underline;
}
#page a:hover {
  color: #f00;
  text-decoration: underline;
}

#page a.social {
  color: #333;
  text-decoration: none;
}

#page.no-ads {
  margin: 15px 10px 15px 30px;
  width: 780px;
}

#page p.nav {
  margin: 0px 10px 0 15px;
  padding: 2px;
  text-align: right;
  font-size: 10px;
}

#page h1 {
  margin: 8px 0 0 0;
  font-size: 36px;
  line-height: 1.1em;
  font-weight: normal;
  font-family: Trebuchet, "Trebuchet MS", Verdana, sans-serif;
  letter-spacing: -1px;
  color: #333;
}

#page h2 {
  margin: 20px 0 7px;
  text-transform: uppercase;
}

#page .page-head {
  margin: 4em 0;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
}
#page .blue {
  color: #005ea2;
}
#page .page-head h1 {
  margin: 0 0 0.5em 0;
  font-size: 40px;
  font-weight: 900;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
}

#page .page-head h2.deck {
  margin: 0 0 1em 0;
  font-weight: 100;
  font-size: 28px;
  line-height: 1.5em;
}

#page .lead p {
  font-size: 20px;
}

#page blockquote {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5em;
  margin-right: 30px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#page blockquote.sm {
  font-family: Georgia, serif;
  font-size: 10pt;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-right: 30px;
}

#page blockquote p {
  text-indent: 0;
}

#page cite {
  display: block;
  margin: 10px 0;
}

#page p {
  margin: 0 15px 15px 0;
  font:
    normal 15px Georgia,
    serif;
  line-height: 1.45;
}

#page .center {
  margin: 0 1.5em;
  text-align: center;
}

#page .press-release {
}
#page .press-release a {
  color: #e52207;
}
#page .press-release .lead p {
  margin-bottom: 20px;
  font-size: 21px;
}
#page .press-release h2 {
  margin: 2em 0 0.5em 0;
  font-size: 28px;
  font-weight: 100;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
}
#page .press-release h3 {
  margin: 2em 0 0.5em 0;
  font-size: 21px;
  font-weight: 100;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
}
#page .press-release p {
  font-size: 18px;
}

#page .press-release .details {
  margin-bottom: 2em;
  padding: 2em;
  background: #f0f0ec;
}
#page .press-release .details hr {
  margin: 2em 0;
  width: 25%;
}
#page .press-release .media {
  margin: 4em 0;
}
#page .press-release .media img {
  width: 100%;
}
#page .press-release .media figcaption {
  margin: 7px 2px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-size: 13px;
  color: #888;
  line-height: 1.5em;
}
#page .press-release .details p {
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-size: 16px;
}

#page #sidebar {
  font-family: "trebuchet ms", trebuchet, arial, sans-serif;
  float: right;
  width: 250px;
  margin: 0 0 10px 10px;
  border: 4px solid #ccc;
}

#page #sidebar h2,
#page #sidebar p,
#page #sidebar form {
  margin-left: 10px;
}

#page #sidebar dl {
  clear: both;
  margin: 10px 10px 15px 10px;
}

#page #sidebar dt {
  float: left;
  margin: 2px 3px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px;
  color: #f44;
  text-indent: 0;
}

#page #sidebar dd {
  text-indent: 0;
  margin: 0 0 2px 0;
}

#page #sidebar .vip {
  font-weight: bold;
}

#page .toggle_content {
  margin: 10px 0;
  padding: 5px 5px;
  display: none;
  border: 1px solid #ccc;
}

#page .toggle_content img {
  float: right;
  width: 100px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#page ul.bullets {
  list-style-type: disc;
  margin-left: 15px;
  font:
    15px Georgia,
    serif;
  line-height: 1.45em;
}

#page table {
  width: 560px;
  border-collapse: collapse;
}

#page table th {
  text-align: left;
}

#page table td {
  padding: 5px 5px 5px 0;
  border-top: 1px solid #aaa;
}

#page table.noline td {
  padding: 5px 5px 5px 0;
  border-top: 0px solid #aaa;
}

#page .board {
  width: 240px;
  float: left;
  border-right: 1px dotted #ddd;
  margin-bottom: 30px;
}

#page .partners {
  padding-left: 20px;
  width: 500px;
  float: right;
}

#page .contact {
  border: 2px solid #666;
  padding: 4px;
  clear: both;
}

#page .title {
  font-family: Trebuchet, "Trebuchet MS", Verdana, Sans-Serif;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;
}

#page .logos ul {
  list-style: none;
  margin-bottom: 10px;
}

#page .logos ul li {
  display: inline;
}

#page .logos img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ARTICLE
***************************************************/

/* article type */

#article_type {
  margin-bottom: 8px;
  color: #686868;
  font-family: "Abril Fatface", cursive;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#article_type small {
  font-size: -80%;
}
#article_type .red {
  color: #e52207;
}
#article_type .gray {
  color: #686868;
}
#article_type .lt-gray {
  color: #b2b2b2;
}

/* full article */

#article {
  width: 580px;
  margin-left: 30px;
}

#article p.nav {
  margin: 0px 10px 0 15px;
  padding: 2px;
  text-align: right;
  font-size: 10px;
}

#article header.default {
}

#article header.diptych .header_wrapper {
  display: flex;
}

#article header.diptych .featured_image {
  width: 200px;
}
#article header.diptych .featured_image img {
  width: 200px;
}

#article header .article-meta {
  padding: 1rem 0;
}

#article header .article-meta .date {
  margin: 0.5em 0;
  font-size: 16px;
}

#article header .article-meta .share-tools a {
  padding: 0.5rem 1rem;
  border: 2px dotted #8d9297;
  border-right: 0 solid #8d9297;
  font-size: 1.01401rem;
  display: inline-block;
  color: #565c65;
}
#article header .article-meta .share-tools a:last-of-type {
  border-right: 2px dotted #8d9297;
}

#article header .kicker {
  margin-top: 0.5rem;
  margin-bottom: 1.3em;
  font-size: 18px;
  font-weight: 900;
}
#article header .kicker .divider {
  margin: 0 0.5em 0 0.3em;
  border-left: 1px solid #000;
}
#article header .kicker span {
  font-weight: 200;
}

#article h1 {
  margin: 8px 0 0 -2px;
  font-size: 36px;
  line-height: 1.1em;
  font-weight: normal;
  font-family: Trebuchet, "Trebuchet MS", Verdana, Sans-Serif; /* DIN;	 */
  letter-spacing: -0.8pt;
  color: #333;
}
#article h2.deck,
#page h2.deck {
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 200;
  text-transform: none;
  width: 90%;
}
#article h2 {
  margin: 10px 0;
  text-transform: uppercase;
}

#article cite.byline {
  display: inline-block;
  font-family: georgia, serif;
  font-size: 13px;
  text-align: left;
  margin: 0;
  float: left;
}
#article .promo {
  width: 175px !important;
  clear: both;
}
#article .promo.free-text {
  background: #efefef;
  padding: 10px;
  font-size: 0.7rem;
  font-weight: normal;
  font-family: "Trebuchet MS", trebuchet, arial, sans-serif;
}
#article .promo.free-text h6 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
}
#article .promo.free-text p {
  margin: 0;
  max-width: none;
}

/*    article-tools			*/
#article-tools {
  margin: 1.5em 0 0 0;
}

#article-tools ul {
  margin: 0;
  text-align: right;
}

#article-tools li {
  margin: 3px 0;
  display: inline-block;
}

/* body */
#article #body {
  margin: 30px 0 0 0;
}

#article a {
  color: #333;
  text-decoration: none;
}
#article #body a {
  color: #333;
  text-decoration: underline;
}
#article a:hover {
  color: #f00;
  text-decoration: underline;
}
#article #body a:hover {
  color: #f00;
  text-decoration: underline;
}
#article a.social {
  color: #333;
  text-decoration: none;
}

#article #body ul {
  list-style-type: disc;
  margin-left: 15px;
  font:
    15px Georgia,
    serif;
  line-height: 1.45em;
}

#article #body ol {
  list-style-type: decimal;
  margin-left: 15px;
  font:
    15px Georgia,
    serif;
  line-height: 1.45em;
}

#article #body p,
#article #body blockquote {
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-right: 30px;
}
#article #body blockquote cite {
  margin: 0.5em 0;
  display: block;
  text-align: right;
  font-style: normal;
}

#article #body blockquote.sm {
  font-family: Georgia, serif;
  font-size: 10pt;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-right: 30px;
}

#article #body blockquote {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#article #body blockquote p {
  text-indent: 0;
}

#article #body .text-align-right {
  text-align: right;
}

#article #body .text-align-center {
  text-align: center;
}
#article #body .lead p {
  font-size: 20px;
}
#article #body p .dropcap,
#page p .dropcap {
  padding-top: 10px;
  padding-right: 8px;
  font-size: 72px;
  line-height: 50px;
  float: left;
}
#article #body .lead p .dropcap,
#page .lead p .dropcap {
  padding-top: 7px;
  font-size: 60px;
}

#article #alt_info {
  font-family: Georgia, serif;
  font-size: 8pt;
  font-weight: bold;
  line-height: 1.5em;
}

#article #alt_info a {
  color: #333;
  text-decoration: underline;
}
#article #alt_info a:hover {
  color: #f00;
  text-decoration: underline;
}

pullquote.new {
  margin-top: 0.5em;
  margin-left: 1em;
  padding: 0.5em 0;
  width: 248px;
  font-family: Trebuchet, "Trebuchet MS", Verdana, Sans-Serif;
  font-weight: bold;
  float: right;
  border-top: 2px #000 solid;
  font-size: 18px;
  line-height: 24px;
}
#article #body cite {
  margin-top: 0;
  display: block;
  text-align: right;
  font-size: 14px;
}

pullquote.r {
  display: block;
  font-family: Veranda;
  float: right;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 7px;
  padding-bottom: 16px;
  background: transparent url("/images/pullquotes/quote-large.png") no-repeat left top;
  border-bottom: 6px double #f00;
}

pullquote.l {
  display: block;
  font-family: Veranda;
  float: left;
  width: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 7px;
  padding-bottom: 16px;
  background: transparent url("/images/pullquotes/quote-large.png") no-repeat left top;
  border-bottom: 6px double #f00;
}

pullquote.sm {
  font-size: 12px;
}

pullquote.md {
  font-size: 15px;
}

pullquote.lg {
  font-size: 20px;
}

#article #body {
  position: relative;
}

#article #body p.indent1 {
  padding-left: 20px;
}
#article #body p.indent2 {
  padding-left: 40px;
}
#article #body p.indent3 {
  padding-left: 60px;
}
#article #body p.indent4 {
  padding-left: 80px;
}
#article #body p.indent5 {
  padding-left: 100px;
}

#article #body .indent-paragraphs p {
  margin-bottom: 0;
  text-indent: 20px;
}
#article #body .indent-paragraphs p.section {
  margin-top: 20px;
  text-indent: 0;
}
#article #body p.no-indent {
  padding-left: 0;
}

#article #body pre {
  margin: 0 15px 15px 0;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5em;
}

#article #body h2 {
  text-transform: none;
  font-family: "Trebuchet MS", trebuchet, arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #333;
  margin: 15px 0;
}

#article #body .center-image {
  margin: 5px 15px 10px 15px;
  text-align: center;
}

#article #body .center-image .caption {
  display: block;
  width: 290px;
  font-family: verdana;
  font-size: 12px;
  margin: 0 auto;
}

#article #body .article-image {
  width: 300px;
  margin: 5px 15px 10px 15px;
  float: right;
}

#article #body .article-image img {
  width: 300px;
  border: 1px solid #fff;
}

#article #body .article-image img:hover {
  border: 1px solid #f00;
}

#article #body .article-image .caption {
  display: block;
  font-family: verdana;
  font-size: 10px;
}

#article #body .photogallery .article-image {
  position: relative;
  width: 560px;
  margin: 10px 0;
  float: none;
}

#article #body .photogallery .article-image img {
  width: 560px !important;
}

#article #body .photogallery img:hover {
  /* border:1px solid #FFF  !important; */
}

#article #body .photogallery.border img:hover {
  border: 1px solid #f00 !important;
}

#article #body .photogallery .article-image .caption {
  display: block;
  width: 560px;
  font-family: verdana;
  font-size: 10px;
}

#article #body .photogallery .article-image .caption a {
  color: #333;
  text-decoration: underline;
}
#article #body .photogallery .article-image .caption a:hover {
  color: #f00;
  text-decoration: underline;
}

/* slideshow text */
#article #body .photogallery .article-image .caption.slideshow {
  font-size: 16px;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
}

#article #body .photogallery .article-image:hover #overlay {
  opacity: 1;
}

#plus img {
  height: 100%;
}

#article p.question {
  margin: 0px 0 10px 0;
  font-weight: bold;
}
#article p.post {
  margin-top: 20px;
  font-style: italic;
}

#article hr {
  margin: 25px auto 20px auto;
  border: 0;
  border-bottom: 1px solid #aaa;
  width: 99%;
}

/*  bio     */
#article .bio a {
  color: #333;
  text-decoration: underline;
}
#article .bio a:hover {
  color: #f00;
  text-decoration: underline;
}

#article .bio {
  width: 565px;
  margin: 15px 0px;
  border-top: 1px dotted #aaa;
}
#article .bio h2 {
  margin-top: 10px;
}
#article .bio p {
  margin-top: 5px;
  line-height: 1.2em;
}

#article .byline a {
  color: #333;
}

#article .byline a:hover {
  color: #c00;
  text-decoration: underline;
}

/* comments */
#comments {
  margin: 15px 0px;
  border-top: 1px dotted #aaa;
}
#comments h2 {
  margin-top: 15px;
}
#comments .comment {
  margin: 10px 20px 10px 0;
  border-left: 6px solid #ddd;
  background: #eee;
  padding: 10px;
}
#comments .comment p {
  margin: 5px 0;
}
#comments .comment p.by {
  margin-bottom: 5px;
  font-weight: bold;
}
#comments .comment p.date {
  margin-top: 5px;
  font-style: italic;
  color: #888;
}

#comment-form {
  margin: 15px 0px;
  border-top: 1px dotted #aaa;
}
#comment-form h2 {
  margin-top: 15px;
}
#comment-form label {
  display: block;
  float: left;
  width: 80px;
}
#comment-form input,
#comment-form textarea {
  margin: 5px 0;
  width: 350px;
}
#comment-form .button {
  margin: 5px 0;
  width: auto;
}

/* bottom of article tools + nav                      */

#main #contentcolumn #article ul.bodynav {
  color: #000;
  margin: 15px 0;
  border-top: 1px dotted #aaa;
  padding: 5px 0 4px 0;
  width: 565px;
}
#main #contentcolumn #article ul.bodynav a:hover {
  margin: 0;
  text-decoration: none;
  color: #fff;
  background: #000;
}
#main #contentcolumn #article ul.bodynav li.nav {
  float: right;
  margin-left: 20px;
}
#main #contentcolumn #article ul.bodynav li.tools {
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

/* bottom of article - next article preview           */
#main #contentcolumn #article .next-article-box {
  display: none;
  z-index: -1000;
  xbackground: #eee;
  width: 160px;
  margin-left: -180px;
  float: left;
  margin-top: -200px;
}
#main #contentcolumn #article .next-article-box h2 {
  margin: 10px 10px;
}
#main #contentcolumn #article .next-article-box h1 {
  font-family: Verdana;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0;
}
#main #contentcolumn #article .next-article-box p {
  margin: 5px 10px 10px 10px;
}

/*
     =EXTRA

*/

#extra .box-no-top {
  margin: 10px 15px 0 10px;
}

/* article list */
#extra .article-list,
#extra .box {
  border-top: 1px dotted #aaa;
  margin: 10px 15px 0 10px;
  font-size: 11px;
}
#extra .article-list h2,
#extra .box h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #c32;
}
#extra .article-list ul {
  margin-top: 5px;
}
#extra .article-list ul li {
  margin: 0 0 10px 0;
  line-height: 1.2em;
}
#extra .box p {
  margin-top: 5px;
  line-height: 1.3em;
}
#extra .box input {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ads */
#extra .ad {
  border-top: 1px dotted #aaa;
  margin: 10px 15px 0 10px;
  text-align: center;
}
#extra .ad img {
  margin-top: 10px;
  height: 60px;
}

/* featured */
#extra .featured {
  border-top: 1px dotted #aaa;
  margin: 10px 15px 0 10px;
  font-size: 11px;
}
#extra .featured h2 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #c32;
}
#extra .featured img {
  float: left;
  margin: 8px 5px 0 0;
}
#extra .featured h3 {
  font-size: 14px;
  margin-top: 5px;
  font-weight: normal;
}
#extra .featured h3 a {
  color: #333;
}
#extra .featured p {
  margin: 5px 0 10px 0;
  line-height: 1.3em;
}

/* FOOTER
******************************************************/

#footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  font-size: 10px;
  color: #000;
  height: 15px;
  width: 770px;
}

#footer p {
  color: #000;
}

#footer a {
  color: #333;
}

#footer ul {
  margin: 0;
  float: left;
}

#footer li {
  float: left;
  border-right: 1px solid #000;
  margin-right: 5px;
  padding-right: 5px;
}

/* GOOGLE SEARCH
******************************************************/

/**
 * Minimalist theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 2%;
  width: 96%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse.gsc-control-cse div,
.gsc-control-cse div {
  position: normal;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffffff;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Search form */
.cse form.gsc-search-box,
form.gsc-search-box {
  padding: 8px 4px 2px 6px;
  margin-bottom: 6px;
}
.cse .gsc-branding-text,
.gsc-branding-text {
  color: #000000;
}
.cse td.gsc-input,
td.gsc-input {
  padding-right: 0;
}
.cse .gsc-search-box,
.gsc-search-box {
  border-collapse: collapse;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  border: 1px solid;
  border-color: #777777;
  padding: 3px;
  width: 99%;
  font-size: 16px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 2px #000000;
  padding: 3px 8px 4px 8px;
  background-color: #333333;
  border: 1px solid;
  border-color: #333333;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #000000;
  padding: 2px 8px 0 8px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #777777;
  border: 1px solid;
  border-color: #777777;
  border-bottom: none;
  color: #ffffff;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #333333;
  border: 1px solid;
  border-color: #333333;
  border-bottom: none;
  color: #ffffff;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #333333;
  padding: 0;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  margin: 0;
  border: none;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
  margin-top: 1em;
}
/* Uber-wrapper for a result. Add padding to elements within a result block */
.cse .gs-result .gs-title,
.gs-result .gs-title,
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-result .gs-visibleUrl,
.gs-result .gs-visibleUrl {
  padding: 0;
}
/* Font size */
.cse .gs-result .gs-title,
.gs-result .gs-title,
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet {
  font-size: 14px;
  line-height: 18px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result {
  padding: 0 0 0 0.5em;
  border-left: 1px solid;
  border-color: #ffffff;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover {
  border-left: 1px solid;
  border-color: #000000;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-trailing-more-results:link,
.gsc-trailing-more-results:link {
  color: #000;
}
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b {
  color: #000;
}
/* Snippet text color */
.cse .gs-webResult.gs-result .gs-snippet,
.gs-webResult.gs-result .gs-snippet {
  color: #000;
}
/* URL text color */
.cse .gs-webResult.gs-result .gs-visibleUrl,
.gs-webResult.gs-result .gs-visibleUrl,
.cse .gs-webResult.gs-result .gs-visibleUrl-short,
.gs-webResult.gs-result .gs-visibleUrl-short {
  color: #999;
  font-weight: bold;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-top: 1px dotted;
  border-color: #333333;
  padding: 0.5em 0 0 0.5em;
  text-align: left;
}
/* Selected pagination */
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #fff;
  background-color: #333333;
  text-shadow: 0 1px 1px #000;
  padding: 0 5px;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gs-promotion.gs-result,
.gs-promotion.gs-result {
  background-color: #e6e6e6;
  border: 1px solid;
  border-color: #cccccc;
}
/* Promotion image */
.cse .gs-promotion.gs-result .gs-promotion-image,
.gs-promotion.gs-result .gs-promotion-image {
}
/* Promotion title */
.cse .gs-promotion.gs-result a.gs-title:link,
.gs-promotion.gs-result a.gs-title:link {
  color: #0000cc;
}
.cse .gs-promotion.gs-result a.gs-title:visited,
.gs-promotion.gs-result a.gs-title:visited {
  color: #0000cc;
}
.cse .gs-promotion.gs-result a.gs-title:hover,
.gs-promotion.gs-result a.gs-title:hover {
  color: #444444;
}
.cse .gs-promotion.gs-result a.gs-title:active,
.gs-promotion.gs-result a.gs-title:active {
  color: #00cc00;
}
/* Promotion snippet */
.cse .gs-promotion.gs-result .gs-snippet,
.gs-promotion.gs-result .gs-snippet {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion.gs-result .gs-visibleUrl,
.gs-promotion.gs-result .gs-visibleUrl {
  color: #00cc00;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #cccccc;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 15px;
  position: absolute;
  background: white;
  border: 1px solid #777777;
  padding: 3px;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}

/* JQUERY HELPERS
******************************************************/

.hidden {
  display: none;
}

/* NEW ARTICLE IMAGES
*************************************************/

.articleimg {
  position: relative;
  width: 300px;
  float: right;
  margin: 10px 0;
  margin-left: 10px;
  font-size: 0;
  line-height: 0;
}

@media only screen and (max-width: 480px) {
  .articleimg {
    float: none;
    margin: 10px auto;
  }
}
.articleimg a:hover {
  outline: 3px solid red;
}

.articleimg .articleimg__aspect {
  position: relative;
}

.articleimg img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.articleimg figcaption {
  margin-top: 10px;
  font-family: verdana;
  font-size: 12px;
  line-height: 140%;
}

.articleimg.articleimg--centered {
  width: 300px;
  margin: 10px auto;
  float: none;
}

.articleimg.articleimg--centered figcaption {
  width: 300px;
  margin: 10px auto;
  margin-top: 10px;
}

.articleimg.articleimg--fullwidth {
  width: 100%;
  margin-left: 0;
  float: none;
}

.articleimg.articleimg--fullwidth img {
  width: 100%;
}

#edit-tools {
  position: sticky;
  bottom: 0;
  right: 0;
  float: right;
  z-index: 99;
  display: none;
}
#edit-tools .edit-btn {
  margin-bottom: 3em;
}
#edit-tools .edit-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  border-radius: 40px;
  width: 64px;
  height: 64px;
  color: #fff !important;
  font-size: 14px;
  background: #009cff;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
#edit-tools .edit-btn a:hover {
  background: #0686d7;
  color: #fff !important;
}
