#issue_select {
  @include u-display("block");
  @include u-font("sans", "2xs");
  @include u-text("black");
  @include u-text("medium");
  @include u-margin(0);
  @include u-padding-y("05");
  @include u-padding-x(1);
  @include u-radius("sm");
  @include u-width("full");
  @include u-border("1px", "solid", "black");
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("/images/uswds/arrow-down.svg");
  background-repeat: no-repeat, repeat;
  background-position:
    right 0.7em top 50%,
    0 0;
  background-size:
    0.65em auto,
    100%;
}
