.banner {
  .banner-card {
    @apply bg-pink-200;
    // @apply bg-pink-200 divide-y tablet-lg:divide-y-0 tablet-lg:divide-x divide-zinc-800 py-3;
  }
}

.description {
  @apply text-xs font-medium space-y-3;
  a {
    @apply hover:no-underline space-y-2;
  }
  h3 {
    @apply text-lg tablet-lg:text-xl font-normal italic hover:underline;
    line-height: 28px;
  }
}

.card {
  box-shadow: 0px 0px 12px 0px var(--Indigo-100, #e0e7ff) inset;
  &:hover {
    box-shadow: 0px 0px 18px 0px var(--Indigo-100, #e0e7ff) inset;
  }
}
