.theme-exhibitions {
  --header-text-color: var(--exhibition-text-primary, #18181b);
  // Set navbar variables
  --navbar-background-color: var(--exhibition-bg-primary, #fff);
  --navbar-text-color: var(--exhibition-text-primary, #18181b);
  --subhead-fill: var(--exhibition-text-primary, #18181b);
  --subhead-fill-dark: var(--exhibition-text-primary-dark, #18181b);
  // --navbar-text-color: #ffffff;

  // Light mode styles (default)
  background-color: var(--exhibition-bg-primary);
  background-image: linear-gradient(
    160.44deg,
    var(--exhibition-bg-primary) 44.27%,
    var(--exhibition-bg-secondary) 86.9%
  );
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Default background with fallback
  background-color: #fff; // Fallback if variable isn't set
  background: var(--exhibition-bg-primary, #fff);

  color: var(--exhibition-text-primary, #18181b);
  --subhead-fill: var(--exhibition-text-primary, #18181b);

  // If both primary and secondary colors are set, use gradient
  &[style*="--exhibition-bg-secondary"] {
    background: linear-gradient(
      160.44deg,
      var(--exhibition-bg-primary, #fff) 44.27%,
      var(--exhibition-bg-secondary) 86.9%
    );
    --navbar-background-color: var(--exhibition-bg-primary, #fff);
    --subhead-fill: var(--exhibition-text-primary, #000);
  }

  --exhibition-bg-primary: var(--color-default-primary, #fff);
  --exhibition-bg-secondary: var(--color-default-secondary, #fff);

  @media (prefers-color-scheme: dark) {
    --exhibition-bg-primary: var(--color-default-primary-dark, #333);
    --exhibition-bg-secondary: var(--color-default-secondary-dark, #333);
    background-color: var(--exhibition-bg-primary-dark, var(--exhibition-bg-primary));
  }
}

// Dark mode styles using the global .dark class pattern
:global(.dark) {
  .theme-exhibitions {
    --navbar-background-color: var(--exhibition-bg-primary-dark, --navbar-background-color);
    --navbar-text-color: var(--exhibition-text-primary-dark, --navbar-text-color);

    background-color: var(--exhibition-bg-primary-dark, var(--exhibition-bg-primary));

    &[style*="--exhibition-bg-primary-dark"][style*="--exhibition-bg-secondary-dark"] {
      background-image: linear-gradient(
        160.44deg,
        var(--exhibition-bg-primary-dark) 44.27%,
        var(--exhibition-bg-secondary-dark) 86.9%
      );
    }
    color: var(--exhibition-text-primary-dark, #000);
  }
}

.content {
  @extend .content;
  @apply text-lg font-normal font-sans;
  p,
  blockquote,
  li,
  pre {
    @apply max-w-none;
  }
  .artist h4 {
    @apply text-lg font-medium;
  }
}
