// Newsletter Banner
#banner{
  position: sticky;
  top:0;
  @include u-height('5');
  @include u-bg('white');
  z-index: 10;
  p{
    margin: 10px 0 12px 0;
    padding: 0 5px;
    @include u-border('2px');
    @include u-border('solid');
    @include u-border('red-50v');
    border-radius: 2px;
    @include u-color('red-50v');
  }
}
