/* Untitled Sans =========== */

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-LightItalic.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-Light.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-RegularItalic.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-Regular.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-MediumItalic.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-Medium.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-BoldItalic.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-Bold.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-BlackItalic.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Untitled Sans";
  src:
    url("/fonts/untitled-sans/UntitledSansWeb-Black.woff2") format("woff2"),
    url("/fonts/untitled-sans/UntitledSansWeb-Black.woff") format("woff");

  font-weight: 900;
  font-style: normal;
}

/* Untitled Serif =========== */

@font-face {
  font-family: "Untitled Serif";
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-RegularItalic.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Serif";
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-Regular.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Untitled Serif";
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-MediumItalic.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Serif";
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-Medium.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Untitled Serif";
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-BoldItalic.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Untitled Serif";
  /* src: url("/fonts/untitled-serif/UntitledSerifWeb-Bold.otf") format("opentype"); */
  src:
    url("/fonts/untitled-serif/UntitledSerifWeb-Bold.woff2") format("woff2"),
    url("/fonts/untitled-serif/UntitledSerifWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
