@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.scss";
@import "./content.scss";
@import "./promos.scss";
@import "./shortcodes.scss";

:root {
  --font-family-sans: "Untitled Sans";
  --font-family-serif: "Untitled Serif";
  --font-family-mono: "Courier New";
  --font-family-display: "Untitled Sans";
  --font-family-body: "Untitled Serif";
}

html {
  font-size: 16px;
}

:root {
  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.9375rem; /* 15px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.3125rem; /* 21px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.6875rem; /* 27px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 5.25rem; /* 84px */
  --font-size-8xl: 6rem; /* 96px */

  --line-height-xs: 1.125rem; /* 18px */
  --line-height-sm: 1.3125rem; /* 21px */
  --line-height-base: 1.5rem; /* 24px */
  --line-height-lg: 1.5rem; /* 24px */
  --line-height-xl: 1.6875rem; /* 27px */
  --line-height-2xl: 2.0625rem; /* 30px */
  --line-height-3xl: 2.0625rem; /* 33px */
  --line-height-4xl: 2.625rem; /* 42px */
  --line-height-5xl: 3.375rem; /* 54px */
  --line-height-6xl: 4.125rem; /* 66px */
  --line-height-7xl: 5.25rem; /* 84px */
  --line-height-8xl: 6rem; /* 96px */

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

strong,
b {
  @apply font-bold;
}

.rail-bg {
  @apply bg-slate-50 dark:bg-zinc-800;
  @apply text-zinc-900 dark:text-indigo-50;
}

.rail-tribute-bg {
  @apply bg-slate-100 dark:bg-zinc-800;
  @apply text-zinc-900 dark:text-indigo-50;
}

.rail-criticspage-bg {
  @apply bg-amber-50 dark:bg-stone-800;
  @apply text-zinc-900 dark:text-indigo-50;
}

.rail-border {
  @apply border-zinc-600 dark:border-slate-300 border-dotted;
}
.rail-border-solid {
  @apply rail-border !border-solid;
}
.rail-divide {
  @apply divide-zinc-600 dark:divide-slate-300 divide-dotted;
}
.rail-divide-solid {
  @apply rail-divide !border-solid;
}

html,
body {
  @apply text-base font-normal;
  @apply font-sans antialiased;
  @apply bg-[#EF4444] text-black;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

// Banner Styles
.rail-banner-path {
  @apply fill-none tablet:fill-zinc-900;
}
.rail-banner-text {
  @apply fill-[#EF4444] tablet:fill-none;
}

.paper,
.paper .navbar {
  @apply rail-bg;
}

.paper {
  @apply relative;
}

.paper-homepage {
  // @apply divide-y rail-divide;
}

.paper-article {
  // @apply divide-y rail-divide;
}

.paper-issue {
  @apply divide-y rail-divide;
}

.paper-tribute {
  @apply rail-tribute-bg;
}

.paper-event,
.paper-event .navbar,
.paper-events,
.paper-events .navbar,
.paper-events-past,
.paper-events-past .navbar,
.paper-preview-event {
  @apply bg-indigo-50 dark:bg-zinc-800;
  @apply text-zinc-900 dark:text-indigo-50;
  .rail-banner-text {
    @apply fill-indigo-950 tablet:fill-none;
  }
}

.paper-section .section-head {
  @apply rail-bg;
}

.paper-people,
.paper-people .navbar {
  @apply bg-green-100 dark:bg-zinc-800;
  @apply text-zinc-900 dark:text-indigo-50;
}

.paper-page,
.paper-page .navbar {
  @apply bg-cyan-50 dark:bg-zinc-800;
  @apply text-zinc-900 dark:text-indigo-50;
}

.collection-criticspage,
.collection-criticspage .head,
.paper-article-criticspage,
.paper-article-criticspage .navbar,
.paper-section-criticspage,
.paper-section-criticspage .navbar,
.paper-section-criticspage .section-head {
  @apply bg-amber-50 dark:bg-stone-800;
  @apply text-zinc-900 dark:text-amber-50;
}

.collection-fiction,
.collection-fiction .head,
.paper-article-fiction,
.paper-article-fiction .navbar,
.paper-section-fiction,
.paper-section-fiction .navbar,
.paper-section-fiction .section-head {
  @apply bg-stone-100 dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-indigo-50;
}

.collection-field-notes,
.collection-field-notes .head,
.paper-article-field-notes,
.paper-article-field-notes .navbar,
.paper-section-field-notes,
.paper-section-field-notes .navbar,
.paper-section-field-notes .section-head {
  @apply bg-stone-100 dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-indigo-50;
}

.collection-poetry,
.collection-poetry .head,
.paper-article-poetry,
.paper-article-poetry .navbar,
.paper-section-poetry,
.paper-section-poetry .navbar,
.paper-section-poetry .section-head {
  @apply bg-stone-100 dark:bg-zinc-900;
  @apply text-zinc-900 dark:text-indigo-50;
}

a {
  @apply underline-offset-2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
a:hover .media figcaption {
  text-decoration: none !important;
}

.rail-header-homepage {
  @apply bg-black;
  // @apply bg-gradient-to-b from-[#EF4444] to-[#CFCFE0] dark:from-indigo-700;
}
.rail-donate-popup {
  @apply bg-gradient-to-b from-[#EF4444] to-[#CFCFE0] dark:from-indigo-700;
}

// .alt-odd {
//   @apply bg-rose-300 dark:bg-rose-700;
// }
// .alt2-odd {
//   @apply bg-emerald-300 dark:bg-emerald-700;
// }
// .alt-even {
//   @apply bg-amber-300 dark:bg-amber-700;
// }
// .alt2-even {
//   @apply bg-violet-300 dark:bg-violet-700;
// }
