@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

:root {
  --font-family-sans: "Untitled Sans";
  --font-family-serif: "Untitled Serif";
  --font-family-mono: "Courier New";
  --font-family-display: "Untitled Sans";
  --font-family-body: "Untitled Serif";
}

:root {
  /* Font Sizes */
  --font-size-3xs: 12px;
  --font-size-2xs: 15px;
  --font-size-xs: 18px;
  --font-size-sm: 21px;
  --font-size-base: 24px;
  --font-size-lg: 27px;
  --font-size-xl: 36px;
  --font-size-2xl: 48px;
  --font-size-3xl: 60px;
  --font-size-4xl: 84px;
  --font-size-5xl: 96px;

  /* Line Heights */
  --line-height-3xs: 18px;
  --line-height-2xs: 21px;
  --line-height-xs: 24px;
  --line-height-sm: 30px;
  --line-height-base: 30px;
  --line-height-lg: 33px;
  --line-height-xl: 42px;
  --line-height-2xl: 60px;
  --line-height-3xl: 66px;
  --line-height-4xl: 84px;
  --line-height-5xl: 96px;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

h1 {
  @apply text-4xl font-thin;
}
h2 {
  @apply text-3xl font-thin;
}
h3 {
  @apply text-2xl font-thin;
}
h4 {
  @apply text-xl font-thin;
}
h5 {
  @apply text-lg font-thin;
}
h6 {
  @apply text-base font-thin;
}

html,
body {
  @apply text-base font-normal;
  @apply font-sans;
  @apply bg-red-600 text-black;
}

.paper {
  @apply bg-white dark:bg-black;
  @apply text-black dark:text-white;
}

.content {
  @apply text-base font-normal font-serif;
  p {
    max-width: 72ex;
    @apply mb-6;
  }
}

.media {
  figcaption {
    max-width: 114ex;
    @apply pt-2 pb-6 text-sm font-normal font-sans text-gray-400;
  }
}
